/* The basic boxing effect */
html {
    font-family: sans-serif;
        font-size: 80%;
    color: rgb(56,56,56); 
    background-color: rgb(255,255,255);
    margin: 0;
    padding: 12px 30px;
}

body {
    background-color: rgb(246,246,246);
    margin: 0 auto;
    padding: 3em;
    width: 85%;
    border-width: 0px 0px 0px;
    border-color: #3366CC rgb(164,164,164) rgb(164,164,164);
    border-style: solid;
    max-width: 900px;
}

select {
    /*width: 100%;*/
    background-color: rgb(150,150,150);
    height: 30px; /* set same height */
    width: 98px;
    position:absolute;
    left: 3;
    top: 4;
    padding:10;
    font-family: tacoma;
    font-size: 20px;
    font-weight: bold;
/*
    z-index:2;
    margin:0;
    border:0 none;
    float:none;
    opacity:0; */
    cursor: pointer;
    -webkit-appearance: menulist-button;
}

h1 {
    font-size: 150%;
    font-weight: normal;
    text-align: left;
    color: rgb(74,74,74);
    background-color: rgb(220,220,220);
    //padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid rgb(144,144,144);
    height: 20px;
}

a { color: rgb(74,74,74);} 

a.plain { text-decoration: none }

input:focus { background: yellow; color: black; }
