/* The basic boxing effect */
html {
    font-family: sans-serif;
        font-size: 80%;
    color: rgb(56,56,56); 
    background-color: rgb(255,255,255);
    margin: 0;
    padding: 12px 30px;
}

body {
    /* background-color: rgb(246,246,246); */
    margin: 0 auto;
    padding: 3em;
    width: 85%;
    border-width: 0px 0px 0px;
    border-color: #3366CC rgb(164,164,164) rgb(164,164,164);
    border-style: solid;
    max-width: 900px;
}

h1 {
    font-size: 150%;
    font-weight: normal;
    text-align: left;
    color: rgb(74,74,74);
    background-color: rgb(220,220,220);
    //padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid rgb(144,144,144);
    height: 20px;
}

a { color: rgb(74,74,74);} 

a.plain { text-decoration: none }

input:focus { background: #FFFF99; color: black; }

input, textarea {
  background-color : #dfdfdf;
}
