.submit {
   z-index:10;
   font-family: tacoma;
   font-size: 20px;
   width: 92px;
   display: inline-block;
   padding: 5px;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   line-height: 1;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
   text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
   position: fixed;
   margin:4px;
   border: solid 0px;
   cursor: pointer;
}

.navbar{
   position: fixed;
   font-size: 18px;
   top:0px;
   left:0px;
   width: 100%;
   height: 42px;
   z-index: 10;
   /*background: rgba(0,66,174,0.1);*/
   background: rgba(0,0,0,0.5);
}

input.cid {
   position: fixed;
   font-size: 18px;
   width: 96px;
   height:30px;
   top:  0px;
   left: 100px;
   background: rgb(255,255,255);
   margin:4px;
   z-index:1;
   -webkit-border-radius: 5px; //For Safari, etc.
   -moz-border-radius: 5px; //For Mozilla, etc.
   border-radius: 5px; //CSS3 Feature
}

/* http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select select {
   position: fixed;
   left: 500px; 
   top: 0px;
   margin: 4px;
   background: transparent; 
   width: 200px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 5;
   border-radius: 5px;
   -webkit-border-radius: 5px; //For Safari, etc.
   -moz-border-radius: 5px; //For Mozilla, etc.
   height: 34px;
   z-index: 10;
   -webkit-appearance: none;
   }

/*.cid   { position: fixed; left: 4px; top: 4px;   font-size: 18px; width: 96px; height: 30px; } */
/* color scheme by colorschemedesigner.com */
/* .apps   { left: 0px;   top: 0px; background: #505050; color: white } */
.exe    { left: 0px;   top: 0px; background: #759d00; color: white }
.run    { left: 0px;   top: 0px; background: #759d00; color: white }
.jobs   { left: 100px; top: 0px; background: #280671; color: white }
.shared { left: 200px; top: 0px; background: #bf4e30; color: white }
.start  { left: 300px; top: 0px; background: #759d00; color: white }
.add    { left: 0px;   top: 0px; background: #759d00; color: white }
.plot   { left: 400px; top: 0px; background: #4112AE; color: white }
.inputs { left: 500px; top: 0px; background: #bf4e30; color: white }
.output { left: 600px; top: 0px; background: #a62300; color: white }
.files  { left: 700px; top: 0px; background: #0a0a0a; color: white }
.clear  { left: 200px; top: -5px; position: fixed; }
.stop   { left: 0px; top: 50px; background: #ff0000; width: 60px; }

.apps {
    background-color: rgb(100,100,100);
    height: 30px; /* set same height */
    width: 96px;
    position:absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    -webkit-appearance: menulist-button;
}

.lfooter a:link {color: white; text-decoration:none;}
.lfooter a:visited {color: white;}
.lfooter a:hover {color: yellow;}

.lfooter {
   color: white;
   text-align: left;
   position: fixed;
   font-size: 18px;
   bottom: 0px;
   left:0px;
   width: 100%;
   height: 20px;
   /*background: rgba(0,66,174,0.1);*/
   background: rgba(0,0,0,0.5);
   z-index: 20;
}

.rfooter {
   color: white;
   text-align: right;
   position: fixed;
   font-size: 18px;
   bottom: 0px;
   left:0px;
   width: 100%;
   height: 20px;
   /*background: rgba(0,66,174,0.1);*/
   background: rgba(0,0,0,0.5);
   z-index: 10;
}

