/* based on: https://bootstrapbay.com/blog/bootstrap-button-styles */

.btn {
    padding: 14px 22px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-default {
    background-color: hsl(0, 69%, 22%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
    background-image: -moz-linear-gradient(top, #b42121, #5e1111);
    background-image: -ms-linear-gradient(top, #b42121, #5e1111);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
    background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
    background-image: -o-linear-gradient(top, #b42121, #5e1111);
    background-image: linear-gradient(#b42121, #5e1111);
    border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-success {
    background-color: hsl(110, 56%, 29%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ec236", endColorstr="#2e7320");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#4ec236), to(#2e7320));
    background-image: -moz-linear-gradient(top, #4ec236, #2e7320);
    background-image: -ms-linear-gradient(top, #4ec236, #2e7320);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4ec236), color-stop(100%, #2e7320));
    background-image: -webkit-linear-gradient(top, #4ec236, #2e7320);
    background-image: -o-linear-gradient(top, #4ec236, #2e7320);
    background-image: linear-gradient(#4ec236, #2e7320);
    border-color: #2e7320 #2e7320 hsl(110, 56%, 24%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #33a6cc;
}

.btn-default:active, .btn-default.active {
    background: #007299;
    box-shadow: none;
}

/*.navbar {
    margin-bottom: 0;
}*/

.navbar {
    background-color: #29090C; /* #383838; */
    opacity: 0.9;
}

.navbar-brand {
    color: #ffffff !important
}

a.navbar-brand:hover { color:white !important }

#navbar {
    border-bottom-color: #63171D;
    border-bottom-width: 3px;
}

#navaction {
    border-top-color: #63171D;
    border-top-width: 3px;
}
.tab-content {
    /*background-color: #dfdfdf;*/
    border: 1px solid #ddd;
    padding: 10px;
}

.abs-bottom-right {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

.abs-top-right {
    position: fixed;
    top: 100px;
    right: 5px;
    z-index: 10;
}

.help {
    position: fixed;
    top: 50%;
    left: -15px;
    width: 10px;
    z-index: 10;
/*      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg); */
}

table {
    margin:10px 0pt 15px;
    font-size: 10pt;
    width: 100%;
    text-align: left;
}

tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}

tr:hover {
    background-color: #738C23;
    cursor: pointer;
}

th {
    /*background-color: #fff;*/
    font-family: arial;
    background-color: #48b6a2;
    color: #fff;
/*
    color: #280671;
    background-color: #bbadda;
*/
}

th, td {
    padding: 3px 5px;
}

/* to fix problems in flot legends */

.legend > table {
   width: 150px;
}

td.legendcolorbox {
   width: 10px;
}

/* Base styles (regardless of theme) */
.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}
.bs-callout h4 {
margin-top: 0;
}
.bs-callout p:last-child {
margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #d9534f;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f0ad4e;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #5bc0de;
}

input:not([type=submit]):not([type=file]) {
   background-color:#faffbd !important
}

textarea {
  background-color : #faffbd !important
}

.bootstrap-tagsinput {
   background-color: #faffbd !important
}

.table-striped tbody tr:hover td, .table-striped tbody tr:hover th {
  background-color: #888;
  color: white;
}
