.navbar {
    margin-bottom: 0;
}

.abs-bottom-right {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

textarea {
  background-color : #d1d1d1;
}

table {
    margin:10px 0pt 15px;
    font-size: 10pt;
    width: 100%;
    text-align: left;
}

tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}

tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

th {
    /*background-color: #fff;*/
    font-family: arial;
    color: #280671;
    background-color: #bbadda;
}

th, td {
    padding: 3px 5px;
}

/* to fix problems in flot legends */

.legend > table {
   width: 150px;
}

td.legendcolorbox {
   width: 10px;
}

