/* based on: https://bootstrapbay.com/blog/bootstrap-button-styles */

.btn {
    padding: 14px 22px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-default {
    background: #0099cc;
    color: #ffffff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #33a6cc;
}

.btn-default:active, .btn-default.active {
    background: #007299;
    box-shadow: none;
}

.navbar {
    /* carbon fiber */
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    opacity: 0.9;
}

.navbar-brand {
    color: #9d9d9d
}

.navbar-brand:hover { color:yellow !important }

a.navbar-brand:hover { color:white !important }

#navbar {
    border-bottom-color: #0099CC;
    border-bottom-width: 2px;
}

#navaction {
    border-top-color: #0099CC;
    border-top-width: 2px;
}
.tab-content {
    /*background-color: #dfdfdf;*/
    border: 1px solid #ddd;
    padding: 10px;
}

.abs-bottom-right {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

.abs-top-right {
    position: fixed;
    top: 100px;
    right: 5px;
    z-index: 10;
}

.help {
    position: fixed;
    top: 50%;
    left: -15px;
    width: 10px;
    z-index: 10;
}

table {
    margin:10px 0pt 15px;
    font-size: 10pt;
    width: 100%;
    text-align: left;
}

tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}

tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

th {
    font-family: arial;
    background-color: #d9edf7;
    color: #317098;
}

th, td {
    padding: 3px 5px;
}

/* to fix problems in flot legends */

.legend > table {
   width: 150px;
}

td.legendcolorbox {
   width: 10px;
}

/* Base styles (regardless of theme) */
.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}
.bs-callout h4 {
margin-top: 0;
}
.bs-callout p:last-child {
margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #d9534f;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f0ad4e;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #5bc0de;
}

input:not([type=submit]):not([type=file]):not([type=reset]):not([readonly]) {
   background-color:#faffbd !important
}

input:read-only {
    background-color: #dfdfdf !important;
    color: #888 !important
}

textarea {
  background-color : #faffbd !important
}

.bootstrap-tagsinput {
   background-color: #faffbd !important
}

.table-striped tbody tr:hover td, .table-striped tbody tr:hover th {
  background-color: PeachPuff;
}
