%html
%head
<style> input { width: 100px; } </style>
<body>

<h1>Enter parameters:</h1>

<form action="/confirm" method="post">
= simple_form_for (@confirm) do |f|
%table
  %tbody
<input type="submit" />

</form>

</body>
</html>
