/* The basic boxing effect */
html {
    font-family: sans-serif;
        font-size: 80%;
    color: rgb(56,56,56);
    background-color: rgb(255,255,255);
    margin: 0;
    padding: 12px 30px;
}

body {
    background-color: rgb(246,246,246);
    margin: 0 auto;
    padding: 3em;
    width: 85%;
    border-width: 5px 1px 1px;
    border-color: #3366CC rgb(164,164,164) rgb(164,164,164);
    border-style: solid;
    max-width: 900px;
}

h1 {
    font-size: 110%;
    font-weight: normal;
    text-align: right;
    color: rgb(74,74,74);
    background-color: rgb(220,220,220);
    background-image: url(images/top.png);
    background-repeat: repeat-x;
    background-position: left center;
    //padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid rgb(144,144,144);
    height: 20px;
}

a {
    color: rgb(74,74,74);}

a.plain { text-decoration: none }

input[type="submit"]
{
   z-index:1;
   font-family: tacoma;
   font-size: 20px;
   width: 100px;
   background: #009933;
    display: inline-block;
    /*padding: 5px 10px 6px;*/
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    /*position: relative;*/
    position: fixed;
   top:0px;
   left:0px;
   margin:4px;
   border: solid 0px;
    cursor: pointer;
}

